/* GLOBAL */
.default{
	background-color: black;
	background-image: url(../images/tribes-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;

	color: white;
}

.default a{
	text-decoration: none;
	color: goldenrod;
}

.default a:hover{
	text-decoration: none;
	color: goldenrod;
}

.default h1, h2, h4{
	color: goldenrod;
}

body{
	background-color: black;
}

body a{
	text-decoration: none;
	color: goldenrod;
}

body a:hover{
	text-decoration: none;
	color: goldenrod;
}

nav{
	opacity: 0.90;
}

.jumbotron h1{
	color: white;
}

#conteudo{
	margin-top: 20px;
}

.black-box{
	background-color: rgba(0,0,0,0.5);

	border: 1px solid goldenrod;
	border-radius: 10px;
	padding: 10px;
}
/* END GLOBAL */

/* INDEX PAGE*/
#index{
	background-image: url(../images/gallery-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;

	color: goldenrod;

	text-align: center;
}

#index p{
	color: white;
}

#jumbotron-banner{
	height: 500px;
	background-image: url(../images/banner-intro.png);
	background-position: center;
	background-repeat: no-repeat;
}

/* END INDEX PAGE*/

/* GALLERY PAGE */
#gallery{
	background-image: url(../images/gallery-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.gridder .fas{
	margin-right: 10px;
	color: white;
	font-size: 50px;
}

.image{
	margin-top: 10px;
}

.image:hover{
	box-shadow: 0px 0px 5px 5px yellow;
}

.imageBorder{
	border: 3px solid goldenrod;
	border-radius: 10%;
}
/* END GALLERY PAGE */

/* TRIBES PAGES */
#tribes{
	background-image: url(../images/tribes-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: goldenrod;
}

#tribes p{
	color: white;
	text-align: center;
}

#tribes label{
	color: black;
}

#tribes h1, h2, h4{
	text-align: center;
}

/*#scroll{
	background-image: url(../images/Scroll.png);
	background-repeat: no-repeat;
	background-size: contain;

	padding-top: 150px;
	padding-left: 50px;
	padding-right: 50px;
}*/

#infantary{
	background-color: lightyellow;
	padding: 10px;
	border: 1px black solid;
	border-radius: 10px;
	text-align: center;
}

#infantary-body p{
	color: black;
}
/* END TRIBES PAGES */
/* DOWNLOAD PAGE */
#download{
	background-image: url(../images/download-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	color: goldenrod;
	text-align: center;
}

#download p {
	color: white;
}
/* END DOWNLOAD PAGE */

/* HISTORY PAGE */
#history{
	background-image: url(../images/about-background.jpg);
	background-position: center;
    background-attachment: fixed;

	color: black;
	text-align: center;
}

#history .card{
	background-color: transparent;
	border: none;
}

#history #conteudo{
	/*background-image: url(../images/Scroll_Open.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/

	padding: 10px;
}

#history p{
	color: black;
	text-align: left;
}

#history ul{
	color: black;
	text-align: justify;
}

.scrollClosed{
	background-image: url(../images/Scroll_Closed.png) !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 50px;
	padding-top: 1%;

	color: white !important;
	padding-top: 10px !important;
}

.scrollOpen{
	background-image: url(../images/Scroll_Open.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	width: 90%;
	margin-top: -5px;
	margin-left: 5%;
	margin-bottom: -5px;
	padding-top: 1%;
}

.scrollPaperTOP{
	background-color: rgba(222, 180, 108, 100);
	height: 10px;
	width: 90%;
	margin-left: 5%;
	margin-top: -10px;
	margin-bottom: -1%;
	padding-top: 3%;
}

.scrollPaperBOTTOM{
	background-color: rgba(222, 180, 108, 100);
	height: 10px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: -10px;
	padding-top: 3%;
}
/* END HISTORY PAGE */
